@import '../../styles/variables';

.dtable-content {
/*  margin-left: 10px; */
    border: 1px solid;
    box-sizing: border-box;
    // background-color: white;
    display: grid;
    grid-template-columns: auto 380px;
    grid-template-rows: auto;

    .dtable-header {
        background-color: $accent;
        height: 40px;

        &.dtable-header-input {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            &.toolbox-open > button {
                transition: background-color, 0.5s ease;
                background-color: #e5e5e5;
                color: $accent;
            }
            .dtable-header-tools {
                color: $primary;
                background-color: $primary-foreground;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                margin-top: 8px;
                margin-right: 2px;
                z-index: 999;
            }
        }
    }

    .input-row, .output-row {
        // border: 1px solid;
        display: grid;
        &.no-top-row-border {
            border-top-color: $primary-foreground;
        }
        .input-cell-container {
            background-color: $primary-foreground;

            .input-cell-cleanse {
                background-color: $primary-foreground;
                color: $accent-light;
                max-width: 65px;
                height: 65px;
            }
        }
        .input-cell {
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
            z-index: 999;
        }
        .output-cell {
            width: 100%;
        }

        .input-cell, .output-cell {
            border: 0 none;
            border-bottom: 2px solid $accent-light;
            border-right: 1px solid $accent-light;
            height: 50px;
            box-sizing: border-box;
            transition-property: background-color, border-color;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            background-color: $primary-foreground;

            

            &.ancestor-cell {
                background-color: $accent-light;
            }

            button.toolbox-button {
                width: 30px;
            }

            .toolbox-open, &.ancestor-cell{
                
                border: 0 none transparent;
                color: $accent-mid;
                // transition: background-color 0.5s ease;
                background-color: rgba(0, 0, 0, .1);

                &button {
                    display: inline-block;
                    background: $accent;
                }
            }

            &.toolbox-hover {
                cursor: pointer;
            }
        }
        
        & input {
            text-indent: 15px;
        }
    }

    .input-row {
        grid-template-rows: auto;
        // grid-template-columns: auto auto;
    }

    /deep/ .mat-drawer-container,
    .mat-drawer {
        background-color: transparent;
    }

    /deep/ .mat-drawer-inner-container {
        background-color: $accent;
    }

    /deep/ .mat-drawer-side {
        border-right: 0 none transparent;

        &.mat-drawer-end {
            border-left: 1px solid $accent;
            border-right: none;
        }
    }

    

    .toolbox-controls {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        padding-top: 40px;
        background-color: $accent;

        .toolbox-control {
            margin-bottom: 2px;
            background-color: $accent-light;
            border: 1px solid $accent;
            margin-left: -1px;
        }
    }
    .output-grid {
        box-shadow: -5px 0px 5px 0px rgba(0,0,0,.3);
        z-index: 99;
    }

}

