@import '../../styles/variables';



.dtable-content {
/*  margin-left: 10px; */
    border: 1px solid;
    box-sizing: border-box;
    // background-color: white;
    display: grid;
    grid-template-columns: auto 380px;
    grid-template-rows: auto;

    .dtable-header {
        background-color: $accent;
        height: 40px;

        &.dtable-header-input {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            &.toolbox-open > button {
                transition: background-color, 0.5s ease;
                background-color: #e5e5e5;
                color: $accent;
            }
            .dtable-header-tools {
                color: $primary;
                background-color: $primary-foreground;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                margin-top: 15px;
                margin-right: 2px;
                z-index: 999;
            }
        }
    }

    .input-row, .output-row {
        // border: 1px solid;
        

        .input-cell, .output-cell {
            display: grid;
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            transition: background-color 0.5s ease;
            background-color: $primary-foreground;

            button.toolbox-button {
                width: 30px;
            }

            .toolbox-open {
                border: 0 none transparent;
                color: $accent-mid;
                transition: background-color 0.5s ease;
                background-color: rgba(0, 0, 0, .1);

                &button {
                    display: inline-block;
                    background: $accent;
                }
            }
        }

        & input {
            text-indent: 15px;
        }
    }

    /deep/ .mat-drawer-container,
    .mat-drawer {
        background-color: transparent;
    }

    /deep/ .mat-drawer-inner-container {
        background-color: $accent;
    }

    /deep/ .mat-drawer-side {
        border-right: 0 none transparent;

        &.mat-drawer-end {
            border-left: 1px solid $accent;
            border-right: none;
        }
    }

    .toolbox-controls {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        padding-top: 40px;
        background-color: $accent;

        .toolbox-control {
            margin-bottom: 2px;
            background-color: $accent-light;
            border: 1px solid $accent;
            margin-left: -1px;
        }
    }
    .output-grid {
        box-shadow: -5px 0px 5px 0px rgba(0,0,0,.3);
    }
}

