@import '../../../styles/variables';

#header-col-left {
    background: $primary;
    border-top-right-radius: $rounded-medium;
    border-top-left-radius: $rounded-medium;
    padding: $pad-m;
    margin-left: 2px;
    height: 210px;

    @include header-select;

    /deep/ .mat-form-field-label {
        color: $primary-foreground;
    }

    /deep/ .mat-form-field-wrapper {
        padding-bottom: 5px;
    }

    /deep/ .mat-form-field-empty {
        .input-icon {
            color: $accent-mid;
        }
    }
     

}
