<div id="header-col-left" class="header-col" fxLayout="column">
    <mat-form-field>
      <mat-select
        id="systems-select"
        class="header-select"
        value="selected"
        required>
        <mat-option *ngFor="let system of systems" value="{{ system.id }}">{{ system.name }}</mat-option>
      </mat-select>
    <mat-label><mat-icon class="input-icon">settings</mat-icon> System</mat-label>
</mat-form-field>
<mat-form-field>
<mat-select
  class="header-select"
  id="input-file-select"
  value="selected"
  required>
  <mat-option *ngFor="let inputFile of inputs" value="{{ inputFile.id }}">{{ inputFile.name }}</mat-option>
</mat-select>
<mat-label><mat-icon class="input-icon">insert_drive_file</mat-icon> Input</mat-label>
</mat-form-field>
</div>
