// Import material theming functions
@import '../../node_modules/@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey, 400);
$app-accent: mat-palette($mat-grey, 700);
$app-warn: mat-palette($mat-amber);
$app-accent-light: mat-palette($mat-grey, 100);
$app-accent-mid: mat-palette($mat-teal, 400);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$accent-mid: mat-color($app-accent-mid);
$accent-light: mat-color($app-accent-light);
$warn: mat-color($app-warn);

$primary-foreground: white;
