<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email Address"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.hasError('email')">E-Mail is invalid.</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        type="password"
        matInput
        placeholder="Password"
        ngModel
        name="password"
        required
        minLength="6"
        #passwordInput="ngModel"
      >
      <mat-hint align="end">{{ passwordInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters.</mat-error>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Submit</button>
  </form>
</section>
<section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section>