@import '../styles/layout';
@import '../styles/colors';

.main-container {
    padding-top: 50px;
    margin: 0 auto;

    .header-row {
        margin: 0 auto;
        width: $app-width;
    }

    .grid-header {
        margin: 0 auto;
        background-color: $primary;
        height: 30px;
        width: $app-width;
        display: block;
    }
}
