<div id="header-col-right" class="header-col" fxLayout="column">
  <mat-form-field>
    <mat-select id="business-process-select" value="selected" class="header-select">
      <mat-option *ngFor="let bproc of businessProcessess" value="{{ bproc.id }}">{{ bproc.name }}</mat-option>
    </mat-select>
    <mat-label><mat-icon class="input-icon">cached</mat-icon> Business Process</mat-label>
  </mat-form-field>
  <mat-form-field id="header-search">
    <mat-icon
    class="header-input-search" matPrefix>search</mat-icon>
    <input matInput type="search" [(ngModel)]="value" placeholder="Search" class="header-input">
    
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon class="search-clear">close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="output-table-header"><mat-icon class="output-table-icon">grid_on</mat-icon><span class="output-table-label">&nbsp; Output Table</span></div>
